.ResultCar{
    display: flex;
    justify-content: center;
    padding: 25px;
    height: 35vh;
    width: 100%;
}
.information-car {
    text-align: center;
    background-color: #44cec7;
    display: grid;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    grid-template-columns: repeat(5, 1fr); /* 5 cột */
    grid-template-rows: repeat(2, 1fr); /* 2 hàng */
    gap: 10px; /* Khoảng cách giữa các div con */
}
.search-infor {
    width: 800px;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
}
label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
input,
textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

