.about_container {
    
}

.about_page-section {
    display: flex;
    margin-top: 100px;
    padding: 50px 200px;
}

.safe-ride-text {
    padding-left: 25px;
}

.page-about_img img {
    width: 630px;
    height: 400px;
    border-radius: 10px;
}

.section_description {
    line-height: 32px;
    font-size: 0.9rem;
    color: #7c8a97;
}

.about_questions {
    display: flex;
    align-items: center;
}

.about_questions img {
    width: 20px;
    height: 20px;
    margin: 20px; 
}

.section-subtitle {
    color: #f9a826;
    font-weight: 600;
    font-size: 1.2rem;
}

.about_questions {
    font-size: calc(1.275rem + .3vw);
    font-weight: 500;
    line-height: 1.2;
}

.become-driver {
    background: linear-gradient(rgb(0, 13, 107, 0.9), rgb(0, 13, 107, 0.9)), url("./../../../public/drive.b72e6f2d1ccdbd6550a9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 230px;
    display: flex;
}

.become-driver_img img {
    scale: 1.6;
    padding: 64px 130px;
}

