.about_container {
  padding-bottom: 30px;
}
.AboutUs{
    padding: 10px;
}
.about_page-section {
    width: 100%;
    display: flex;
    margin-top: 100px;
    padding-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.safe-ride-text {
    flex: 1;
    padding-left: 25px;
    width: 100%;
}
.page-about_img img {
    flex: 1;
    height: 400px;
    border-radius: 10px;
}

.section_description {
    line-height: 28px;
    font-size: 0.9rem;
    color: #7c8a97;
}

.about_questions {
    display: flex;
    align-items: center;
}

.about_questions img {
    width: 20px;
    height: 20px;
    margin: 20px; 
}

.section-title {
    font-size: 2rem;
    font-family: sans-serif;
    font-weight: 600;
}

.section-subtitle {
    color: #f9a826;
    font-weight: 600;
    font-size: 1.2rem;
}

.about_questions {
    font-size: calc(1.275rem + .3vw);
    font-weight: 500;
    line-height: 1.2;
}

.become-driver {
    background: linear-gradient(rgb(0, 13, 107, 0.9), rgb(0, 13, 107, 0.9)), url("./../../../public/drive.b72e6f2d1ccdbd6550a9.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 80px 230px;
    display: flex;
}

.become-driver_img img {
    scale: 1.6;
    padding: 64px 130px;
}

.become_driver-title {
    font-size: 2.8rem;
    color: #fff;
    line-height: 65px;
    font-weight: 600;
}

.become_driver-btn {
    background: #fff;
    color: #000d6b;
    font-weight: 600;
    padding: 6px 12px;
    border-radius: 6px;
    margin-top: 10px;
    border: none;
    transition: 0.5s;
}

.become_driver-btn:hover {
    cursor: pointer;
    background-color: rgb(0, 13, 107, 0.9);
}

