.slider{
  margin: -15px;
}
.admin-intro-1{
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgba(175, 180, 218, 0.5)),
  url("../../assets/slider-img/slider-5.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.admin-intro-2{
  background: linear-gradient(rgb(0, 13, 107, 0.5), rgba(149, 155, 200, 0.5)),
  url("../../assets/slider-img/slider-6.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.login-connected {
  margin: 50px;
  width: 50%;
  display: inline-block;
  /* margin-left: 25%; */
  height: 40vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
/* ===================box address */
.box-address {
  margin-left: 50%;
  margin-top: -300px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
}
.logout_button {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  font-size: 20px;
  color: #000000;
  font-weight: bold;
  cursor: pointer;
  transition: 0s ;
  background-color: rgb(218, 136, 214);
  transition: background-color 1s ease, font-weight 0.3s ease;
}
.logout_button:hover{
  background-color: rgb(211, 255, 79);
  color: #a63c07;
  transition: background-color 1s ease, font-weight 0.3s ease;
}
.admin-account {
  font-size: 50px;
}
.admin-address {
  text-decoration: underline;
  font-size: 20px;
  color: rgb(209, 209, 209);
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}
.ad-avatar {
  width: 100px;
  border-radius: 100px;
}


/* ============================== Permission Access ======================= */
.information-car-connected {
  margin-left: 10%;
  margin-top: 20px;
  width: 1200px;
  height: 35vh;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  gap: 10px;
}

.form-connected {
  width: 1200px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  column-gap: 5px;
}
.form {
  width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  /* margin-bottom: 20px; */
}
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 95%;
  /* padding: 10px; */
  border: 1px solid #ccc;
  border-radius: 4px;
}
.colorful-text {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(90, 207, 155, 1) 38%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.welcome-message {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.login-button {
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0069d9;
}
.logo-image {
  width: 100px;
}
