.footer_container {
    padding-top: 56px;
    padding-bottom: 40px;
    padding-left: 196px;
    padding-right: 196px;
    background-color: #000d6b;
    color: rgba(255, 255, 255, 0.715);
    font-family: "Source Sans Pro", sans-serif;
}


.container_1 {
    display: flex;
}

.footer_header-content {
    display: flex;
    align-items: center;
    line-height: 24px;
    color: #ffff;
    font-size: 1.25rem;
    font-weight: 500;
    width: 150px;
}

.rent-car{
    width: 390px;
    margin-right: 56px;
}

.rent-car img {
    width: 36px;
    height: 33px;
    filter: invert(100%);
}

.rent-car_header {
    font-size: 1.5rem;
    margin-left:  14px;
}

#rent-car-content{
    line-height: 30px;
    font-weight: 500;
}

.quick-links{
    margin-right: 20px;
}

.footer_content{
    margin-top: 30px;
    line-height: 40px;
    font-size: 1rem;
    font-weight: 300;
}

#quick-links {
    display: table;
    transition: 0.3s;
}

#quick-links:hover {
    color: #fd7e14;
    cursor: pointer;
}   



.head-office{
    margin-right: 104px;
}

.input_container{
    display: flex;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    background-color: #020a4de9;
    border-radius: 30px;
}

.email_input {
    border: none;
    outline: none;
    color: #ffff;
    width: 280px;
    background-color: transparent;
}

.btn_input{
    background-image: url(../../../public/send.png);
    filter: invert(100%);
    background-repeat: no-repeat;
    background-color: transparent;
    width: 20px;
    height: 20px;
    background-size: contain;
    border: none;
}


.copyright_info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.25rem;
    font-size: 0.9rem;
    color: #7c8a97;
}

.copyright_info img{
    width: 10px;
    height: 10px;
    filter: invert(100%);
}

