.connected-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-image: url('./pic2.jpg');
  background-size: cover;
  background-position: center;
}
.colorful1-text{
  
}