.main_navbar {
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background: #000d6b;
}
.navigation{
  display: flex;
  align-items: center;
  margin-left: 12rem;
  height: 100%;
  margin-top: 0;
}
.menu{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 2.7rem;
  font-size: 15px;
  height: 70px;
}
.nav_item {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.nav_item:hover {
  color: #b26e00;

}
.nav_active {
  color: #f9a826;
}


.logo {
  width: 2rem;
  filter: hue-rotate(130deg);
}


.topbar {
  position: relative;
  display: flex;
  color: #ffff;
  align-items: center;
  width: inherit;
  font-size: 1rem;
  height: 3rem;
}


.login-register {
  display: flex;
  position: absolute;
  right: 12rem;
  align-items: center;
  gap: 20px;
}

.topbar-icon {
  width: 1rem;
  filter: invert(100%);
}

.icon-container {
  background-color: #ffff;
  width: 1.5rem;
  border-radius: 20px;
}

.login-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.register-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.need-help {
  position: absolute;
  left: 12rem;
  display: flex;
  gap: 10px;
}

.need-help-icon {
  width: inherit;
  padding: 0.3rem;
}

.time-location{
  display: flex;
  position: relative;
  width: inherit;
  justify-content: center;
  align-items: center;
  padding: 1.4rem;
  background-color: #fff;
  gap: 16rem;
}

.website-name {
  position: absolute;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  width: 11rem;
  line-height: 1.5rem;
  font-weight: 700;
  color: #000d6b;
  left: 12rem;
  font-family: sans-serif;
  gap: 1rem;
  cursor: pointer;
}

.location {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.location-country {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #000d6b;
  line-height: 2rem;
}

.location-city{
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
}

.time-date{
  font-size: 1.2rem;
  font-weight: 700;
  font-family: sans-serif;
  color: #000d6b;
  line-height: 2rem;
}

.time-hour {
  font-size: 1rem;
  font-weight: 600;
  font-family: sans-serif;
}

.time {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.request-call {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 12rem;
  background-color: #000d6b;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  gap: 0.5rem;
  cursor: pointer;
}

.request-call-btn {
  outline: none;
  border: none;
  background-color: transparent;
  font-size: 0.85rem;
  font-family: sans-serif;
  color: #ffff;
}

.request-call-icon {
  width: 1rem;
  filter: invert(100%);
}

.navbar_search {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: #020a4de9;
  border-radius: 14rem;
  right: 12rem;

}

.search-input {
  border: none;
  background-color: transparent;
  outline: none;
  color: #ffff;

}

.search-btn {
  background-image: url('./../../../public/magnifying-glass.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-color: transparent;
  border: none;
  filter: invert(100%);
  height: 20px;
  width: 20px;
  margin-right: 12px;
}