.main_navbar {
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  background: #000d6b;
}
.navigation{
  display: flex;
  align-items: center;
  margin-left: 100px;
  height: 100%;
  margin-top: 0;
}
.menu{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  column-gap: 2.7rem;
  font-size: 15px;
  height: 70px;
}
.nav_item {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.nav_item:hover {
  color: #b26e00;

}
.nav_active {
  color: #f9a826;
}



.website-name {
  display: flex;
  align-items: center;
}

.logo {
  width: 2rem;
}

.topbar {
  position: relative;
  display: flex;
  color: #ffff;
  align-items: center;
  width: inherit;
  font-size: 1rem;
  margin-left: 100px;
  margin-right: 100px;
  height: 3rem;
}


.login-register {
  display: flex;
  position: absolute;
  right: 0;
  align-items: center;
  gap: 20px;
}

.topbar-icon {
  width: 1rem;
  filter: invert(100%);
}

.icon-container {
  background-color: #ffff;
  width: 1.5rem;
  border-radius: 20px;
}

.login-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.register-nav {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.need-help {
  position: absolute;
  left: 0;
  display: flex;
  gap: 10px;
}

.need-help-icon {
  width: inherit;
  padding: 0.3rem;
}

.time-location{
  display: flex;
  position: relative;
  width: inherit;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  gap: 40px;
}

.website-name {
  position: absolute;
  display: flex;
  left: 100px;
  align-items: center;
}

.location {
  display: flex;
  align-items: center;
}

.time {
  display: flex;
  align-items: center;
}

.request-call {
  position: absolute;
  right: 100px;
}

.navbar_search {
  position: absolute;
  right: 100px;
}